# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db
venv/
books_venv/
env/
.env

# VS Code
.vscode/

# IDE/Editor
*.idea/
*.sublime-project
*.sublime-workspace

# System
.DS_Store
Thumbs.db

# Logs
*.log

# Bytecode / build
build/
dist/
*.egg-info/
